#panel-container {
    width: 24rem;
    position: absolute;
    padding-bottom: 100%;
    right: 10px;
    top: 396px;
    width: 25%;
}

.card .card-subtitle {
    margin: 0 0 8px !important;
}

.form-control {
    margin: 0 0 24px !important;
}
